a[href^="https://www.google.com/"] { 
	color: green; 
}

a[href="https://www.link-group.eu/"] {
    color: red;
 }


#second-div p:nth-child(2n+1){
    color:blue;
}

#second-div p:nth-child(2n+2){
    color:red;
}


#first-div:not(#second-div)>p::after{
    content: "NEW";
    color:yellow;
}

p:nth-child(8):hover{
    font-style:italic;
}
